# Variables Research (Part III - Sales)

### `Misael Ramirez - A00821781`

<img src="autlan-logo.png" alt="Autlan logo">

In this notebook, we will perform a research for a financial forecast of variables which driver is directly related with sales. Sales are divided in the following:
1. *Mining-Metallurgical Manganese Products*
2. *Energy*
3. *Precious Metals*

Nonetheless, the contribution of the **energy** division is technically none, since the resources related with energy are used in the mines possesed by Autlán to perform the extraction of minerals, manganese for the most part. As stated in 2Q14 report: 
> "The electricity generation of the Atexcaco hydroelectric plant was favored by the constant flow of water during the dry months, so its generation grew 56%, contributing 30% of Autlán's needs and representing savings in the first half of the year of 40.2 million MXN"

**Source:** Autlan

**Sales FY20 (Blomberg Estimate): `$ 315 (million USD)`**

In [1]:
# import required libraries 
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

# setting up future plots
sns.set_style(  
    "darkgrid",  
    {  
        'legend.frameon': True,  
    }  
)
mpl.rc('figure', figsize=(14, 8))

## Introduction

Now, we will proceed to make the forecast of the sales for 2021-2025 including the already calculated for 2020. This is the position of the analysis.

**NaN:** Not a Number

In [3]:
intro = pd.read_excel('vars_sales.xlsx', index_col=0, sheet_name='intro')
intro_p = pd.read_excel('vars_sales.xlsx', index_col=0, sheet_name='intro_p')
display(intro, intro_p)

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
Manganese Sales,338.04,267.729,230.711,359.34,375.356,324.108,189.50,NaN,NaN,NaN,NaN,NaN
Precious Metals Sales,NaN,0.000,0.000,0.00,38.148,93.462,130.85,NaN,NaN,NaN,NaN,NaN
(=) Total,338.04,267.729,230.711,359.34,413.504,420.128,320.35,NaN,NaN,NaN,NaN,NaN

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
Manganese %,-0.207996,-0.138267,0.557533,0.044571,-0.136532,-0.415318,NaN,NaN,NaN,NaN,NaN
Precious Metals %,NaN,NaN,NaN,NaN,1.449984,0.400034,NaN,NaN,NaN,NaN,NaN

In [ ]:
# plot to display the sales division

intro_plot = pd.read_excel('vars_sales.xlsx', index_col=0, sheet_name='intro_plot')
sns.set_context("talk")

plt.plot(intro_plot['Date'],intro_plot['Manganese'], c='indigo', marker='.', linewidth=2)
plt.plot(intro_plot['Date'],intro_plot['Precius Metals'], c='indigo', marker='.', linewidth=2)
plt.plot(intro_plot['Date'],intro_plot['Both'], c='indigo', marker='.', linewidth=2)
plt.title("Sales division (Source: Autlán)")
plt.ylabel('Mid Price (USD)')
plt.legend(['Mn', 'Au', 'Both'])

plt.show()

## Forecast for Sales (2020-2025)

Something important to considerin the forecast is the COVID-19 factor, which is why we arrive to the conclusion that it could a few years for the economy to go back to normal levels. Although it is important to mention a huge advantage and it is the fact that this economic slowdown wasn't caused by a financial crisis or something related t it, it was entirely an extra-ordinary situation which then affected the economy. 

This explains why the recvoery has showed fast results. Despite this, this process of recovery could take a couple more years

> High frequency data that tracks economic activity show a slowdown in the recovery from the hegith of the lockdowns

**Source:** Bloomberg

Because of that, we might keep an steady decrease in sales from 2020 to 2022. But it should be deconstructed; the Sales divisions play an essetial job here
* Manganese: most of its drivers are at a macroeconomic level, because of that, the COVID-19 affects it in a negative way
* Precious Metals (Gold): most of its drivers are also macroeconomic, but it reacts the other way around since it is anticyclal as it was previously mentioned
* As a result, manganese sales show a decrease while there are succesful sales in gold. 
* By they way, we must consider that 83% of Autlán's operations represent the extraction of Manganese, this proportions might be widely affected since manganese and gold act in different directions against economic performance **(Source: Bloomberg)**

The next years might show more positive results which is why we declare more positive rates for the sales in this division afterwards

**This is our final conclusion:**
> **The net sales will be negative overall, but the hedge obtained due to precious metals will be very helpful. The worst situation already has passed in 2020. At the end of 2022 we might expect real worldwide stability, this is why we divided the gradients in two categories even though all of them differ.**

However, we are considering that there won't be a second wave, if that would be the case, the situation would be different and it requires other type of criteria

In [6]:
final = pd.read_excel('vars_sales.xlsx', index_col=0, sheet_name='final')
final_p = pd.read_excel('vars_sales.xlsx', index_col=0, sheet_name='final_p')
display(final, final_p)

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
Manganese Sales,338.0,267.7,230.7,359.3,375.4,324.1,189.50,169.73515,158.311974,180.095702,217.087359,255.403278
Precious Metals Sales,NaN,0.0,0.0,0.0,38.1,93.5,130.85,148.17454,157.539171,145.660717,136.294733,130.066064
(=) Total,338.0,267.7,230.7,359.3,413.5,420.1,320.35,317.90969,315.851145,325.756420,353.382093,385.469342

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
Manganese %,-0.207996,-0.138267,0.557533,0.044571,-0.136532,-0.415318,-0.1043,-0.0673,0.1376,0.2054,0.1765
Precious Metals %,NaN,NaN,NaN,NaN,1.449984,0.400034,0.1324,0.0632,-0.0754,-0.0643,-0.0457

In [ ]:
# plot to display the sales division

sns.set_context("talk")

plt.plot(intro['Date'],gdp['Mid Price'], c='indigo', marker='.', linewidth=2)
plt.title("Global GDP (Source: Bloomberg)")
plt.ylabel('Mid Price (USD)')

plt.show()